@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	cursor: pointer;
}

/* 상단 header 설정 */
.header {
	position: relative;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
}

.header #logo {
	font-size: 30px;
	color: mediumpurple;
	font-weight: bold;
	float: left;
}

.header>.nav {
	position: relative;
	margin: 0 auto;
	width: 80%;
	max-width: 1200px;
	height: 70px;
}

.header .menu {
	position: absolute;
	bottom: 0;
	right: 0;
}

.header li {
	float: right;
	margin-right: 10px;
	font-size: 20px;
}

.header .menu-item {
	color: darkgray;
}

.header .menu-item:hover {
	color: mediumpurple;
}

/*중앙 content*/
.content {
	margin: 0 auto;
	width: 80%;
	max-width: 1200px;
}

.content-left {
	width: 25%;
	float: left;
}

.content-left-profile {
	height: 150px;
	border: 1px solid lightblue;
	margin: 10px 0px;
}

.content-left-poll {
	min-height: 300px;
	border: 1px solid lightblue;
	font-size: 15px;
	color: lightslategray;
}

.vote-question {
	color: royalblue;
	font-size: 18px;
	font-weight: bold;
}

.vote-title {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
}

.vote-answer {
	margin-top: 10px;
}

.vote-answer li {
	padding-left: 10px;
	margin-top: 5px;
}

.vote-button {
	text-align: right;
	margin: 10px;
}

.button {
	background: white;
	color: black;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

.btn-primary {
	border-color: rgba(128, 0, 128, 0.3); background : rgb( 128, 0, 128);
	color: white;
	background: rgb(128, 0, 128);
}

.content-section {
	width: 75%;
	float: right;
}

.content-section-article {
	margin: 10px;
	border: 1px solid darkgray;
	height: 150px;
}

/*맨 하단 footer*/
.footer {
	clear: left; margin : 0 auto;
	width: 80%;
	max-width: 1200px;
	height: 70px;
	margin: 0 auto;
}

.footer ul {
	float: right;
}

.footer li {
	display: inline-block;
	margin-right: 10px;
	font-size: 11px;
	color: darkgray;
}